/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {

  :root {

  --text-color:#F1B2CE;
  --accent-color:#FF0070;
  --page-bg-image: url(../images/cover-image-dark.png);
  --btn-color:#FF0070;
  --title-header:#DB00FF;
  --title-color:#000028;
  --accent-link:#F1B2CE;
  --btn-hover:rgba(255, 0, 112, 0.40);
  --title:#FF0070;
  --page-bg-color:#000028;

  }
  .decorative__element {
    display: flex;
  }
}

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
  --text-color:#F1B2CE;
  --accent-color:#FF0070;
  --page-bg-image: url(../images/cover-image-dark.png);
  --btn-color:#FF0070;
  --title-header:#DB00FF;
  --title-color:#000028;
  --accent-link:#F1B2CE;
  --btn-hover:rgba(255, 0, 112, 0.40);
  --title:#FF0070;
  
}
html.theme-dark .decorative__element {
  display: flex;
}
