/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --text-color:#353430;
  --page-bg-color: #FFF1F7;
  --page-bg-image: url(../images/cover-image-light.png);
  --btn-color:#353430;
  --title-header:#FFC2E6;
  --title-color:#353430;
  --accent-link:#353430;
   --btn-hover:  #32312D66;
   --title:#353430;
}
  .decorative__element {
    display: none;
  }
  
}  

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #FF8DCB;
  --text-color:#353430;
  --page-bg-color: #FFF1F7;
  --page-bg-image: url(../images/cover-image-light.png);
  --btn-color:#353430;
  --title-header:#FFC2E6;
  --title-color:#353430;
  --accent-link:#353430;
   --btn-hover:  #32312D66;
   --title:#353430;
}
