
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.page, .header, .main, .footer {
  max-width: 100%;
}

.page {
  background-color: var(--page-bg-color);
  margin: 0 auto;
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--text-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-block-end: 60px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 768px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--btn-color);
  z-index: 1;
}

.decorated-zone::before {
  top: 20px;
  right: clamp(10px, 5vw, 20px);
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 20px;
  left: clamp(10px, 5vw, 20px);
  border-right: none;
  border-top: none;
}

.decorative__element {
  position: absolute;
  top: 20px;
  right: calc(clamp(10px, 5vw, 20px) + 8px);
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  display: flex;
}

.decorative__element::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: center;
  align-self: start;
  margin-block-start: 20px;
  margin-inline: 0;
  inline-size: auto;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--btn-color);
  text-transform: lowercase;
  font-family: 'IBM Plex mono', monospace;
  padding: 2px 10px;
  border: 1px solid transparent;
}

.header-heading {
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  margin: 0;
}

.heading {
  color: var(--title-header);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  font-weight: 700;
}

.header-text {
  grid-row: 3;
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
  justify-self: end;
  align-self: center;
  color: #000028;
  background-color: var(--accent-color);
  margin: 0 clamp(10px, 5vw, 20px) 0 0;
  display: block;
  inline-size: 491px;
  margin-block-start: -20px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover);
  cursor: pointer;
}

.main {
  padding: 0 clamp(10px, 5vw, 20px);
  width: 100%;
  box-sizing: border-box;
}

.section {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  hyphens: auto;
  min-width: 0;
  display: grid;
}

.card-item {
  min-width: 0;
  margin-block-end:5px;
}

.why-hard {
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-block-end:75px;
}

.title {
  color: var(--title);
  font-weight: 700;
  font-size: 18px;
  align-self: start;
  margin-bottom: 20px;
}

.why-hard__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.why-hard__card-title {
  margin: 0;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  margin: 0;
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.accent-link {
  color: var(--accent-link);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accent-link:hover {
  border-bottom: 1px solid var(--accent-link);
  cursor: pointer;
}

.accent-link:focus-visible {
  outline: 1px solid var(--btn-hover);
}

.text {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 1.3;
}

.сoncentration {
  margin-block-end: 75px;
}

.concentration__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.concentration__title {
  inline-size: 315px;
}

.rules {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  margin-block-end: 75px;
}

.rules__card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: #000028;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gallery {
  margin-block-end: 55px;
  gap: 5px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, fit-content);
  gap: clamp(10px, 3vw, 15px);
  box-sizing: border-box;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__item:nth-child(1) {
  grid-column: span 4;
}

.gallery__item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item:nth-child(4) {
  grid-column: span 2;
}

.gallery__item:nth-child(5) {
  grid-column: span 4;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 768px;
  position: relative;
  padding: 0 clamp(10px, 5vw, 20px);
  box-sizing: border-box;
}

.footer-heading {
  align-items: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Медиа-запрос для 768px */
@media (max-width: 769px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-block-start: 187px;
    margin-inline-end: clamp(10px, 5vw, 25px);
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .header-text {
  
    justify-self: end;
    width: 364px;
  }

  .card-item {
    margin-block-end: 5px;
  }
 
  .why-hard {
    gap: 20px ;
    margin-block-end: 75px;
  }
  .why-hard-title {
    inline-size: 236px;
  }
  .сoncentration {
    margin-block-end: 75px;
  }
  .concentration__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .concentration__card-item {
    width: 100%;
  }

  .concentration__title {
    inline-size: 236px;
  }
  .rules {
    margin-block-end: 75px;
  }
  .gallery {
    margin-block-end: 50px;
  }

  .footer {
    min-height: 1024px;
  }
}
 
/* Медиа-запрос для 375px */
@media (max-width: 475px) {
  .header {
    min-height: 668px;
    margin-block-end: 40px;
    padding: 0 10px;
  }

  .header__theme-menu {
    margin: 73px 20px 0 0;
  }

  .header-text {
    max-width: 100%;
    inline-size: 355px;
    margin-top: -15px;
  }

  .decorated-zone::before {
    top: 10px;
    right: clamp(5px, 5vw, 8px);
  }

  .decorated-zone::after {
    bottom: 10px;
    left: clamp(5px, 5vw, 10px);
  }

  .decorative__element {
    top: 12px;
  }

  .main {
    padding: 0 10px;
  }

  .title {
    inline-size: 355px;
   margin-bottom: 10px;
  }

  .title-decor {
    margin-bottom: 10px;
  }
  .why-hard {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-block-end: 45px;
  }

  .сoncentration {
    margin-block-end: 45px;
    gap: 10px;
  }
  
  .concentration__card-item {
    flex-direction: column;
  }

  .rules {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin-block-end: 35px;
  }

  .gallery {
    margin-block-end: 40px;

  }

  .gallery-title {
    margin-bottom: 5px;
  }

   .gallery-list {
    grid-template-columns: 1fr; /* Одна колонка */
    grid-auto-rows: auto; /* Автоматическая высота строк */
    gap: 5px;
  }
  
  /* Сбрасываем все предыдущие назначения */
  .gallery__item:nth-child(1),
  .gallery__item:nth-child(2),
  .gallery__item:nth-child(3),
  .gallery__item:nth-child(4),
  .gallery__item:nth-child(5) {
    grid-column: 1; /* Занимает первую и единственную колонку */
    grid-row: auto; /* Автоматический ряд */
  }

  .footer {
  min-height: 668px;
  padding: 0 ;
  }
}

