/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-bg-image: url(../images/cover-image-dark.png);
  --page-bg-color: #000;
  --text-color:#F1B2CE;
  --accent-color:#FF0070;
  --btn-color:#FF0070;
  --title-header:#DB00FF;
  --title-color:#000028;
  
}

